:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #282828;
  --color-bg-base: #3c3836;
  --color-bg-surface: #504945;
  --color-bg-highlight: #665c54;
  --color-fg-shade: #928374;
  --color-fg-base: #a89984;
  --color-fg-surface: #ebdbb2;
  --color-fg-highlight: #fbf1c7;
  --color-primary-bg: #282828;
  --color-primary-base: #3c3836;
  --color-primary-fg: #83a598;
  --color-secondary-bg: #3c3836;
  --color-secondary-base: #504945;
  --color-secondary-fg: #bdae93;
  --color-palette-red: #cc241d;
  --color-palette-green: #98971a;
  --color-palette-yellow: #d79921;
  --color-palette-blue: #458588;
  --color-palette-purple: #b16286;
  --color-palette-cyan: #689d6a;
  --color-palette-orange: #d65d0e;

  /** general */
  --font-family: Quicksand;
  --font-size: 1;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1100px;
  --surface-shadow: 12px 12px 0px #12252E;
  --surface-borderRadius: 0px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 4;
}
